h1, h2 {
   font-family:lucida console;
}

h1 {
     font-size:100px;   
    color: #901111;
    text-shadow:
    4px 4px 0 #111111  
}

h2 {
    font-size:40px;
    color: #111f1f;
    text-shadow:
    1px 1px 0 #5f5f5f,
    
}

body {
    background-color:#4f0000
}

#main-container {
    border:10px solid #5f1111;
    border-left:20px solid #5f1111;
    border-right:20px inset #5f1111;
    border-radius:10px;
}
.btn-lg {
  background-color:#901111;
  padding: 100px 25px;
  font-size: 40px;
  line-height: 1.33;
  border-radius: 50px;
}

#fb-login {
    margin-bottom:75px;
}

#main-container {
    background-image:url("../img/table.jpg");
    background-size:100%;
}

